zadanie 1

In [1]:
import pandas as pd

values = list(range(1, 101))
index = [f"ean_{i:03}" for i in range(1, 101)]
series = pd.Series(values, index=index)
print(series.head())

ean_001    1
ean_002    2
ean_003    3
ean_004    4
ean_005    5
dtype: int64

zadanie 2

In [2]:
import numpy as np

base = np.arange(1, 11).reshape(10, 1)
powers = np.power(base, np.arange(1, 11))

columns = ['base'] + [f'pow_{i}' for i in range(2, 11)]
df = pd.DataFrame(powers, columns=columns)
print(df)

   base  pow_2  pow_3  pow_4   pow_5    pow_6     pow_7      pow_8  \
0     1      1      1      1       1        1         1          1
1     2      4      8     16      32       64       128        256
2     3      9     27     81     243      729      2187       6561
3     4     16     64    256    1024     4096     16384      65536
4     5     25    125    625    3125    15625     78125     390625
5     6     36    216   1296    7776    46656    279936    1679616
6     7     49    343   2401   16807   117649    823543    5764801
7     8     64    512   4096   32768   262144   2097152   16777216
8     9     81    729   6561   59049   531441   4782969   43046721
9    10    100   1000  10000  100000  1000000  10000000  100000000

        pow_9       pow_10
0           1            1
1         512         1024
2       19683        59049
3      262144      1048576
4     1953125      9765625
5    10077696     60466176
6    40353607    282475249
7   134217728   1073741824
8   387420489   3486784401
9  1000000000  10000000000

zadanie 3

In [5]:
print(np.shares_memory(df.values, powers))

df_shared = pd.DataFrame(powers, copy=False, columns=columns)
print(np.shares_memory(df_shared.values, powers))

True
True

zadanie 4

In [6]:
print(df.dtypes)

print(df.memory_usage(deep=True))

df_optimized = df.astype(np.uint32)
print(df_optimized.memory_usage(deep=True))

print((df == df_optimized).all())

base      int64
pow_2     int64
pow_3     int64
pow_4     int64
pow_5     int64
pow_6     int64
pow_7     int64
pow_8     int64
pow_9     int64
pow_10    int64
dtype: object
Index     132
base       80
pow_2      80
pow_3      80
pow_4      80
pow_5      80
pow_6      80
pow_7      80
pow_8      80
pow_9      80
pow_10     80
dtype: int64
Index     132
base       40
pow_2      40
pow_3      40
pow_4      40
pow_5      40
pow_6      40
pow_7      40
pow_8      40
pow_9      40
pow_10     40
dtype: int64
base       True
pow_2      True
pow_3      True
pow_4      True
pow_5      True
pow_6      True
pow_7      True
pow_8      True
pow_9      True
pow_10    False
dtype: bool

zadanie 5

In [8]:
iris = pd.read_csv('/content/iris.data', header=None)
print(iris.head())

                    0                  1                   2  \
0  sepal length in cm  sepal width in cm  petal length in cm
1                 5.1                3.5                 1.4
2                 4.9                3.0                 1.4
3                 4.7                3.2                 1.3
4                 4.6                3.1                 1.5

                   3            4
0  petal width in cm        class
1                0.2  Iris-setosa
2                0.2  Iris-setosa
3                0.2  Iris-setosa
4                0.2  Iris-setosa

zadanie 6

In [9]:
iris.columns = ['sepal length', 'sepal width', 'petal length', 'petal width', 'class']

iris.columns = iris.columns.str.replace(' ', '_')
print(iris.head(10))

         sepal_length        sepal_width        petal_length  \
0  sepal length in cm  sepal width in cm  petal length in cm
1                 5.1                3.5                 1.4
2                 4.9                3.0                 1.4
3                 4.7                3.2                 1.3
4                 4.6                3.1                 1.5
5                 5.0                3.6                 1.4
6                 5.4                3.9                 1.7
7                 4.6                3.4                 1.4
8                 5.0                3.4                 1.5
9                 4.4                2.9                 1.4

         petal_width        class
0  petal width in cm        class
1                0.2  Iris-setosa
2                0.2  Iris-setosa
3                0.2  Iris-setosa
4                0.2  Iris-setosa
5                0.2  Iris-setosa
6                0.4  Iris-setosa
7                0.3  Iris-setosa
8                0.2  Iris-setosa
9                0.2  Iris-setosa

zadanie 7

In [10]:
print("Bez deep:")
print(iris.memory_usage())

print("Z deep:")
print(iris.memory_usage(deep=True))

# Rzutowanie na float32
iris_smaller = iris.copy()
for col in iris.select_dtypes(include='float64').columns:
    iris_smaller[col] = iris_smaller[col].astype('float32')

print("Po konwersji na float32:")
print(iris_smaller.memory_usage(deep=True))

Bez deep:
Index            132
sepal_length    1208
sepal_width     1208
petal_length    1208
petal_width     1208
class           1208
dtype: int64
Z deep:
Index             132
sepal_length     9075
sepal_width      9074
petal_length     9075
petal_width      9074
class           10612
dtype: int64
Po konwersji na float32:
Index             132
sepal_length     9075
sepal_width      9074
petal_length     9075
petal_width      9074
class           10612
dtype: int64

zadanie 9

In [14]:
iris.to_parquet("iris.parquet", index=False)


iris.to_json("iris.json", orient="records", lines=True)

iris.to_pickle("iris.pkl")